* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(./bg.jpg) center center/cover no-repeat;
    /* background-color: rgb(0, 5, 59); */
}

.difficulty {
    /* width: 70%; */
    margin: auto;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
}

/* #easy {
    grid-area: easy;
}

#medium {
    grid-area: medium;
}

#hard {
    grid-area: hard;
} */

.body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 2fr auto;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
}

.board {
    width: 90vmin;
    height: 90vmin;
    background: url(./board.avif) center center/cover no-repeat;
    /* background: linear-gradient(180deg, rgb(13, 255, 0), rgb(169, 255, 104)); */
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    border: 1px solid green;
}


.head {
    /* background: url(/Untitled.png) center top/cover; */
    background: linear-gradient(180deg, #00ff1e, #00c63f);
    border-radius: 10px;
    border: 2px solid white;
}

.snake {
    border-radius: 10px;
    background: linear-gradient(180deg, #39ff85, #00ff2f);
    background: linear-gradient(180deg, #00ff1e, #00c63f);


    border: 1px solid white;
}

.food {
    box-sizing: border-box;
    background: url(./food2.png) center center/cover;
}

.button {
    background-color: rgb(0, 179, 27);
    border: 1px solid green;
    color: white;
    font-size: 3vmin;
    font-weight: bolder;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(10, 189, 37);
    cursor: pointer;
}

.score {
    padding: 1em;
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: springgreen;
}

#score {
    color: white;
}

@media (max-width:1469px) {
    .body {
        width: 90%;
    }
}

/* transform: rotate(90deg); */